.navbar{
    background-color: white !important;
    height:7%
}

#MenuItems{
    width: 100%;
    float: right;
}

.bodyBackground{
    background-color: rgb(209, 209, 209);
    height: 100%;  
    margin-top: -2%;
}

.container{
    margin-top:2%
}

.NameLogo{
    background-color: #4aaaa5;
    margin-top:-1%;
    padding: .3%;
}

p{
    color: darkgray;
}

h1{
    color: #4aaaa5;
}

.Pfooter{
    color: lightgray;
    margin-top:-1%;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 35px;
    border-top: solid 8px #4aaaa5;
    background-color: #666666;
    font-size: 13px;
    color: #cccccc;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 7.5%
  }

  .NavName{
    color: white;
    padding-top:20%;
    margin-right:10;
    }

.jumbotronCustom{
    background-color: white;
}


  



/* .name{
    text-align: center;
} */


/* .navbar{
    background-color: white !important;
    height:7%
}

.ContactHeader{
    margin-top: -40px;
   }



.navbar-brand{
    margin-left: 100;
}

.NameLogo{
    padding: 35;
    float: left;
    margin-left: 14.5%;
    background-color: #4aaaa5;
    margin-top:-1%;
    height: 75
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 35px;
    border-top: solid 8px #4aaaa5;
    background-color: #666666;
    font-size: 13px;
    color: #cccccc;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 7.5%
  }



.jumbotronCustom{
margin-top:-68%;
background-color: white;
}

p{
    color: darkgray;
    padding-top:13
}

.Pfooter{
    color: lightgray;
    margin-top:-1%;
}

h1{
    color: #4aaaa5;
}

@media screen and (max-width: 768px) {

        .jumbotronCustom{
            margin-top:-68%;

        }
    } */